log/*.log
log/*.pid
db/*.db
db/*.sqlite3
db/mongo/*
db/schema.rb
tmp/*
tmp/**/*
.DS_Store
doc/api
doc/app
config/database.yml
config/environments/cucumber.yml
config/environments/development.yml
config/environments/development.rb
.idea
.idea/*
.idea/**/*
.nbproject
.nbproject/*
.nbproject/**/*
rerun.txt
public/system/*
public/uploads/*
coverage*
scratch_directory*
capybara*.html
.yardoc
.rvmrc
*.swp
