<TABLE WIDTH=30% CELLPADDING=4 CELLSPACING=0>
  <COL WIDTH=100*>
  <COL WIDTH=18*>
  <COL WIDTH=121*>
  <COL WIDTH=17*>
  <TR>
    <TD COLSPAN=8 WIDTH=100% VALIGN=TOP class="black alantar_td">
      <P class="white_normal">Umiejętności
        Ogólne</P>
    </TD>
  </TR>
  <TR>
    <TD COLSPAN=8 WIDTH=100% VALIGN=TOP class="grey alantar_td" id="free_skill_amount">
      <P class="fs_14 white_normal" id="skill_counter">Pozostało wolnych umiejętności: <%= "TODO" %></P>
    </TD>
  </TR>
  <% Skill.basic.in_groups_of(3, false).each do |skills| %>
      <TR VALIGN=TOP>
        <% skills.each do |skill| %>
            <TD WIDTH=7% class="alantar_td">
              <P ALIGN=CENTER>    <%= skill.name %>
                <BR>
              </P>
            </TD>
            <TD WIDTH=39% class="alantar_td">
              <P ALIGN=CENTER class="fs_12 italic normal skill_qtip"><%= "X" if @character.skills.include?(skill) %></P>
            </TD>

        <% end %>
      </TR>
  <% end %>
</TABLE>