<TABLE BORDER="1" WIDTH="500">
<%= render :partial => "characters/character_sheets/header" %>

  <TR>
    <TD >
      <TABLE BORDER="0">
        <TR>
          <TD>
         <%= render :partial => "characters/character_sheets/soldier_auxiliary_parameters" %>
          </TD>
        </TR>
      </TABLE>
    </TD>
    <TD >
      <TABLE BORDER="0">
        <TR>
          <TD>
            <%= render :partial => "characters/character_sheets/soldier_caste_skills" %>
          </TD>
        </TR>
      </TABLE>
    </TD>
  </TR>


  <TR>
    <TD >
      <TABLE BORDER="0">
        <TR>
          <TD>
            <%= render :partial => "characters/character_sheets/main_skills" %>
          </TD>
        </TR>
      </TABLE>
    </TD>
    <TD >
      <TABLE BORDER="0">
        <TR>
          <TD>
            And here will be profession specific skills.
          </TD>
        </TR>
      </TABLE>
    </TD>
  </TR>


  <TR>
    <TD  colspan="2">
      <TABLE BORDER="0">
        <TR>
          <TD>
           TEST
          </TD>
        </TR>
      </TABLE>
    </TD>
  </TR>


</TABLE>