<TABLE WIDTH=30% CELLPADDING=4 CELLSPACING=0>
  <COL WIDTH=100*>
  <COL WIDTH=18*>
  <COL WIDTH=121*>
  <COL WIDTH=17*>
  <TR>
    <TD COLSPAN=24 WIDTH=100% VALIGN=TOP class="black alantar_td">
      <P class="white_normal">Umiejętności
        Kastowe</P>
    </TD>
  </TR>
  <TR>
    <TD COLSPAN=24 WIDTH=100% VALIGN=TOP class="grey alantar_td">
    </TD>
  </TR>
  <% Skill.fetch_caste_skills_for(@character).in_groups_of(3, false).each do |skills| %>
      <TR VALIGN=TOP>
        <% skills.each do |skill| %>
            <TD WIDTH=7% class="alantar_td">
              <P ALIGN=CENTER class="fs_12 italic normal skill_qtip"><%= skill.name %></P>
                <BR>
              </P>
            </TD>
            <TD WIDTH=39% class="alantar_td">
              <P ALIGN=CENTER><%= "X" if @character.skills.include?(skill)  %>
            </TD>
        <% end %>
      </TR>
  <% end %>
</TABLE>
<br />