<TABLE BORDER="1" WIDTH="500">
<%= render :partial => "characters/character_sheets/header" %>

  <TR>
    <TD >
      <TABLE BORDER="0">
        <TR>
          <TD>









          </TD>
        </TR>
      </TABLE>
    </TD>
    <TD >
      <TABLE BORDER="0">
        <TR>
          <TD>



          </TD>
        </TR>
      </TABLE>
    </TD>
  </TR>
</TABLE>