<legend>Słowo o kreatorze postaci</legend>

<p>Wszystko zaczęło się pewnego pięknego wieczoru w Tawernie Morgan, gdy Artur zagadnął mnie (wiedząc, że jestem programistą), czy nie mógłbym mu napisać
  programu komputerowego, który przeprowadziłby gracza przez proces tworzenia postaci.</p>

<p>Jak wiadomo, kiedy dostajesz do rąk podręcznik do gry RPG, której jeszcze nie znasz, wszystko wydaje się dość
  skomplikowane. Trzeba przebrnąć przez wiele stron, zanim ogarnie się dany system, choćby na tyle by bez problemów
  stworzyć sobie swoje alter-ego i nie korzystać z tych kilku postaci stworzonych przez autora podręcznika.</p>

<p>Arturowi wydawało się, że to na co teraz patrzysz, zajmie mi może dwa wieczory. Ja jednak od początku wiedziałem,
  że będzie to dla mnie początkiem długiej, ciekawej i pełnej wyzwań przygody. Zupełnie jak w opowieści z Alantaru,
  prowadzonej przez Artura.</p>


<legend>Słowo o Alantarze</legend>

Artur wrzuci tutaj jakiś fajne story :) Być może wystarczy wyedytować:
http://lastinn.info/autorskie-systemy-rpg/11078-alantar-prezentacja-systemu.html
