Artur wrzuci tutaj jakiś fajne story :) Być może wystarczy wyedytować:
http://lastinn.info/autorskie-systemy-rpg/11078-alantar-prezentacja-systemu.html

<br />
<div class="row">
  <div class="span4">
    <%= link_to 'Powrót do strony głównej', root_path, :class => "btn" %>
  </div>
</div>

