<h1 style="font-size: 30pt">Witaj graczu!</h1><br/>

<p style="font-size: 14pt">Witaj w kreatorze postaci online dla systemu RPG Alantar!</p>




<br/>
<br/>
<br/>
<% if current_user %>
<p style="font-size: 12pt"><%= link_to "Kliknij tutaj", new_character_path %> jeśli chcesz utworzyć nową postać!  </p>
    <p style="font-size: 12pt">Lub <%= link_to "kliknij tutaj", characters_path %> jeśli chcesz przeglądnąć dotychczas utworzone postacie. </p>
<% end %>
<% radek = "fajny gość" %>
