<h1>Witaj graczu!</h1><br/>

<p>Witaj w kreatorze postaci online dla systemu RPG Alantar!</p>




<br/>
<br/>
<br/>
<% if current_user %>
<%= link_to "Kliknij tutaj", new_character_path %> jeśli chcesz utworzyć nową psotać!  <br/>
    Lub <%= link_to "kliknij tutaj", characters_path %> jeśli chcesz przeglądnąć dotychczas utworzone postacie.
<% end %>