development:
  adapter: postgresql
  database: char_maker_development
  username: socjopata
  password: secret
  pool: 5
  mongo:
    database: hp
    capsize: 104857600
    host: localhost
    port: 27017

test:
  adapter: postgresql
  database: char_maker_test
  username: socjopata
  password: secret
  pool: 5
  mongo:
    database: hp
    capsize: 104857600
    host: localhost
    port: 27017

production:
  adapter: postgresql
  database: char_maker_production
  username: socjopata
  password: secret
  pool: 5
  mongo:
    database: hp
    capsize: 104857600
    host: localhost
    port: 27017
