development:
  adapter: postgresql
  database: char_maker_development
  username: socjopata
  password: secret
  pool: 5


test:
  adapter: postgresql
  database: char_maker_test
  username: socjopata
  password: secret
  pool: 5


production:
  adapter: postgresql
  database: char_maker_production
  username: socjopata
  password: secret
  pool: 5

