<div id="bonuses" style="display:none;" >
  <TABLE WIDTH=14% CELLPADDING=4 CELLSPACING=0>
    <TR>
      <TD  WIDTH=50% VALIGN=TOP class="black alantar_td">
        <P class="white_normal">Parametr</P>
      </TD>
      <TD  WIDTH=50% VALIGN=TOP class="black alantar_td">
        <P class="white_normal">Premia/Kara</P>
      </TD>
    </TR>
    <% Statistics::BONUS_OR_PENALTY_RANGES_FOR_DISPLAY.each_pair do |key, value| %>
        <TR VALIGN=TOP>
              <TD WIDTH=50% class="alantar_td">
                <P ALIGN=CENTER class="fs_12 italic normal"><%= key %></P>
              </TD>
              <TD WIDTH=50% class="alantar_td">
                <P ALIGN=CENTER class="fs_12 italic normal">
                  <%= value %>
                </P>
              </TD>
          <% end %>
        </TR>
  </TABLE>
</div>
