<label>Wybierz bóstwo: </label><%= select_tag 'deities', options_from_collection_for_select(deities, "id", "name") %>

<script type="text/javascript">
    $("#country_description").text(' <%= escape_javascript(country.description).html_safe -%>');
    $("#deity_description").text(' <%= escape_javascript(deities.first.description).html_safe -%>');
</script>