Wystapił bład w javaskrypcie. Sugeruję zamknąć tego popupa, a nastepnie odświeżyć stronę. Jeśli problem będzie się powtarzał, bardzo proszę o użycie formularza ze strony kontaktowej i opisanie problemu. Dzięki.
