<label><strong><%= stats_modifier.group_name.humanize %></strong></label>
<label class="radio">
  <%= radio_button_tag radio_group, stats_modifier.group_name, true, :disabled => false %>
  <%= display_choice_part(stats_modifier) %>
</label>
