Określ proszę, w jakich broniach będziesz biegły. Liczba wolnych biegłości: #TODO <br/><br/>

<% @weapon_groups.each do |weapon_group| %>
    <%= check_box_tag "weapon_proficiency", weapon_group, @character.character_weapon_proficiencies.detect { |wp| wp.name==weapon_group }, :onclick => "append_to_form_and_submit($(\"input[name='weapon_proficiency']\").filter(\"input[value='#{weapon_group}']\"))" %>
    <label><%= weapon_group %></label>
<% end %>


<script type="text/javascript">
    function append_to_form_and_submit(checkbox) {
        var url = '<%= character_wizards_toggle_weapon_proficiency_path -%>';
        var data = {'name' : checkbox.val(), 'value' :  checkbox.is(':checked'), 'char_id' : '<%= @character.id -%>' };
        $.ajax({
            url: url,
            data: data,
            dataType: 'script'
        });
    }
</script>
