<!--#TODO extract styles to classes and move out definitions from view-->

<TABLE WIDTH=30% CELLPADDING=4 CELLSPACING=0 class="fltl">
  <TR VALIGN=TOP>
    <TD COLSPAN=2 WIDTH=18% BGCOLOR="#000000" STYLE="border: 1.00pt solid #000000; padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
      <P ALIGN=CENTER><FONT SIZE=2 color="white"><I><B>Parametry Główne</B></I></FONT></P>
    </TD>
    <TD COLSPAN=3 WIDTH=20% BGCOLOR="#000000" STYLE="border: 1.00pt solid #000000; padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
      <P ALIGN=CENTER><FONT SIZE=2 color="white"><I><B>Wartość Cechy</B></I></FONT></P>
    </TD>
    <TD COLSPAN=2 WIDTH=12% BGCOLOR="#000000" STYLE="border: 1.00pt solid #000000; padding: 0.04in">
      <P ALIGN=CENTER><FONT SIZE=2 color="white"><I><B>Premia/Kara</B></I></FONT></P>
    </TD>
  </TR>
  <TR VALIGN=TOP>
    <TD COLSPAN=2 WIDTH=18% BGCOLOR="#b3b3b3" STYLE="border: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
      <P ALIGN=CENTER><FONT SIZE=2><I><B>SIŁA</B></I></FONT></P>
    </TD>
    <TD COLSPAN=3 WIDTH=20% STYLE="border: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
      <P ALIGN=CENTER STYLE="font-style: normal"><BR>
      </P>
    </TD>
    <TD COLSPAN=2 WIDTH=12% STYLE="border: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
      <P ALIGN=CENTER><BR>
      </P>
    </TD>
  </TR>
  <TR VALIGN=TOP>
    <TD COLSPAN=2 WIDTH=18% BGCOLOR="#b3b3b3" STYLE="border: 1.00pt solid #000000; padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
      <P ALIGN=CENTER><FONT SIZE=2><I><B>ZRĘCZNOŚĆ</B></I></FONT></P>
    </TD>
    <TD COLSPAN=3 WIDTH=20% STYLE="border: 1.00pt solid #000000; padding: 0.04in">
      <P ALIGN=CENTER STYLE="font-style: normal"><BR>
      </P>
    </TD>
    <TD COLSPAN=2 WIDTH=12% STYLE="border: 1.00pt solid #000000; padding: 0.04in">
      <P ALIGN=CENTER><BR>
      </P>
    </TD>
  </TR>
  <TR VALIGN=TOP>
    <TD COLSPAN=2 WIDTH=18% BGCOLOR="#b3b3b3" STYLE="border: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
      <P ALIGN=CENTER><FONT SIZE=2><I><B>WYTRZYMAŁOŚĆ</B></I></FONT></P>
    </TD>
    <TD COLSPAN=3 WIDTH=20% STYLE="border: 1.00pt solid #000000; padding: 0.04in">
      <P ALIGN=CENTER STYLE="font-style: normal"><BR>
      </P>
    </TD>
    <TD COLSPAN=2 WIDTH=12% STYLE="border: 1.00pt solid #000000; padding-top: 0.04in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0.04in">
      <P ALIGN=CENTER><BR>
      </P>
  </TR>
  <TR VALIGN=TOP>
    <TD COLSPAN=2 WIDTH=18% BGCOLOR="#b3b3b3" STYLE="border: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
      <P ALIGN=CENTER><FONT SIZE=2><I><B>INTELIGENCJA</B></I></FONT></P>
    </TD>
    <TD COLSPAN=3 WIDTH=20% STYLE="border: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
      <P ALIGN=CENTER STYLE="font-style: normal"><BR>
      </P>
    </TD>
    <TD COLSPAN=2 WIDTH=12% STYLE="; border: 1.00pt solid #000000; padding: 0.04in">
      <P ALIGN=CENTER><BR>
      </P>
    </TD>
  </TR>
  <TR VALIGN=TOP>
    <TD COLSPAN=2 WIDTH=18% BGCOLOR="#b3b3b3" STYLE="border: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
      <P ALIGN=CENTER><FONT SIZE=2><I><B>WIARA</B></I></FONT></P>
    </TD>
    <TD COLSPAN=3 WIDTH=20% STYLE="border: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
      <P ALIGN=CENTER STYLE="font-style: normal"><BR>
      </P>
    </TD>
    <TD COLSPAN=2 WIDTH=12% STYLE="; border: 1.00pt solid #000000; padding: 0.04in">
      <P ALIGN=CENTER><BR>
      </P>
    </TD>
  </TR>
  <TR VALIGN=TOP>
    <TD COLSPAN=2 WIDTH=18% BGCOLOR="#b3b3b3" STYLE="border: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
      <P ALIGN=CENTER><FONT SIZE=2><I><B>OGŁADA</B></I></FONT></P>
    </TD>
    <TD COLSPAN=3 WIDTH=20% STYLE="border: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
      <P ALIGN=CENTER STYLE="font-style: normal"><BR>
      </P>
    </TD>
    <TD COLSPAN=2 WIDTH=12% STYLE="; border: 1.00pt solid #000000; padding: 0.04in">
      <P ALIGN=CENTER><BR>
      </P>
    </TD>
  </TR>
  <TR VALIGN=TOP>
  </TR>
</TABLE>


<div class="itermediate_div fltl"></div>


<TABLE WIDTH=30% CELLPADDING=4 CELLSPACING=0 class="fltl">
  <TR VALIGN=TOP>
    <TD WIDTH=14% BGCOLOR="#000000" STYLE="border: 1.00pt solid #000000; padding: 0.04in">
      <P ALIGN=CENTER><FONT SIZE=2 STYLE="font-size: 9pt; color: white"><I><B>Inicjatywa</B></I></FONT></P>
    </TD>
    <TD COLSPAN=2 WIDTH=8% BGCOLOR="#c0c0c0" STYLE="border: 1.00pt solid #000000; padding: 0.04in 0in">
      <P ALIGN=CENTER STYLE="font-style: normal"><FONT SIZE=1><B>Podstawa</B></FONT></P>
    </TD>
    <TD WIDTH=10% BGCOLOR="#c0c0c0" STYLE="border: 1.00pt solid #000000;  padding-top: 0.04in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0.04in">
      <P ALIGN=CENTER STYLE="font-style: normal"><FONT SIZE=1><B>Premia
        ze ZR</B></FONT></P>
    </TD>
    <TD COLSPAN=2 WIDTH=9% BGCOLOR="#c0c0c0" STYLE="border: 1.00pt solid #000000; padding: 0.04in">
      <P ALIGN=CENTER STYLE="font-style: normal"><FONT SIZE=1><B>Umiejętności</B></FONT></P>
    </TD>
    <TD WIDTH=9% BGCOLOR="#c0c0c0" STYLE="border: 1.00pt solid #000000;  padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0in; padding-right: 0.04in">
      <P ALIGN=CENTER STYLE="font-style: normal"><FONT SIZE=1><B>Specjalne</B></FONT></P>
    </TD>
  <TR VALIGN=TOP>
    <TD WIDTH=14% STYLE="border: 1.00pt solid #000000; padding: 0.04in">
      <P ALIGN=CENTER><BR>
      </P>
    </TD>
    <TD COLSPAN=2 WIDTH=8% BGCOLOR="#e6e6e6" STYLE="border: 1.00pt solid #000000; padding: 0.04in 0in">
      <P ALIGN=CENTER><FONT SIZE=2 STYLE="font-size: 9pt"><I><B>15</B></I></FONT></P>
    </TD>
    <TD WIDTH=10% STYLE="border: 1.00pt solid #000000; padding: 0.04in">
      <P ALIGN=CENTER><BR>
      </P>
    </TD>
    <TD COLSPAN=2 WIDTH=9% STYLE="border: 1.00pt solid #000000; padding: 0.04in">
      <P ALIGN=CENTER><BR>
      </P>
    </TD>
    <TD WIDTH=9% STYLE="border: 1.00pt solid #000000;  padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0in; padding-right: 0.04in">
      <P ALIGN=CENTER><BR>
      </P>
    </TD>
  </TR>
</TABLE>