$('##{@shopkeeper.result.class.name.tableize} tr##{@shopkeeper.result.id}').remove();
$('#purse').text('#{humanize_purse_content(@character.session[:coins_left])}');
$('#purse').effect('highlight', {color: 'green'}, 1500);
