<% @character.character_shields.all.each do |shield| %>
  $("#set_shield_<%= shield.id -%>").replaceWith('<p class="normal set_shield" id="set_shield_<%= shield.id -%>"><%= set_shield_as_main(@character, shield) -%></p>');
<% end %>

