
<% @character.character_armors.all.each do |armor| %>
  $("#set_armor_<%= armor.id -%>").replaceWith('<p class="normal set_armor" id="set_armor_<%= armor.id -%>"><%= set_armor_as_main(@character, armor) -%></p>');
<% end %>



