<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0//EN" "http://www.w3.org/Math/DTD/mathml2/xhtml-math11-f.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!--This file was converted to xhtml by OpenOffice.org - see http://xml.openoffice.org/odf2xhtml for more info.-->
<head profile="http://dublincore.org/documents/dcmi-terms/">
<title>Alantar</title>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
<title xml:lang="en-US">- no title specified</title>
<meta name="DCTERMS.title" content="" xml:lang="en-US"/>
<meta name="DCTERMS.language" content="en-US" scheme="DCTERMS.RFC4646"/>
<meta name="DCTERMS.source" content="http://xml.openoffice.org/odf2xhtml"/>
<meta name="DCTERMS.creator" content="Artur Szymała"/>
<meta name="DCTERMS.issued" content="2009-12-10T17:47:33.51" scheme="DCTERMS.W3CDTF"/>
<meta name="DCTERMS.contributor" content="Artur Szymała"/>
<meta name="DCTERMS.modified" content="2012-04-03T11:06:47.14" scheme="DCTERMS.W3CDTF"/>
<meta name="DCTERMS.provenance" content="" xml:lang="en-US"/>
<meta name="DCTERMS.subject" content="," xml:lang="en-US"/>
<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" hreflang="en"/>
<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" hreflang="en"/>
<link rel="schema.DCTYPE" href="http://purl.org/dc/dcmitype/" hreflang="en"/>
<link rel="schema.DCAM" href="http://purl.org/dc/dcam/" hreflang="en"/>
<style type="text/css">
    @page {
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        empty-cells: show
    }

    td, th {
        vertical-align: top;
        font-size: 12pt;
    }

    h1, h2, h3, h4, h5, h6 {
        clear: both
    }

    ol, ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    <!--
    "li span.odfLiEnd"
    -
    IE

    7
    issue-->
	li span. {
        clear: both;
        line-height: 0;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }

    span.footnodeNumber {
        padding-right: 1em;
    }

    span.annotation_style_by_filter {
        font-size: 95%;
        font-family: Arial;
        background-color: #fff000;
        margin: 0;
        border: 0;
        padding: 0;
    }

    * {
        margin: 0;
    }

    .P1 {
        font-size: 9pt;
        font-family: Times New Roman;
        writing-mode: page;
    }

    .P10 {
        color: white;
        font-size: 9pt;
        font-family: Times New Roman;
        writing-mode: page;
        text-align: center ! important;
        font-style: italic;
        font-weight: bold;
    }

    .P100 {
        font-size: 9pt;
        font-family: Times New Roman;
        writing-mode: page;
        text-align: center ! important;
        font-style: italic;
        font-weight: bold;
    }

    .P11 {
        color: white;
        font-size: 9pt;
        font-family: Times New Roman;
        writing-mode: page;
        text-align: center ! important;
        font-weight: bold;
    }

    .P12 {
        color: white;
        font-size: 7pt;
        font-family: Times New Roman;
        writing-mode: page;
        text-align: center ! important;
        font-style: normal;
        font-weight: bold;
    }

    .P122 {

        font-size: 7pt;
        font-family: Times New Roman;
        writing-mode: page;
        text-align: center ! important;
        font-style: normal;
        font-weight: bold;
    }

    .P13 {
        font-size: 9pt;
        font-family: Times New Roman;
        writing-mode: page;
        text-align: center ! important;
        font-style: italic;
        font-weight: bold;
    }

    .P14 {
        color: white;
        font-size: 10pt;
        font-family: Times New Roman;
        writing-mode: page;
        text-align: center ! important;
        font-style: italic;
        font-weight: bold;
    }

    .P144 {
            font-size: 10pt;
            font-family: Times New Roman;
            writing-mode: page;
            text-align: center ! important;
            font-style: italic;
            font-weight: bold;
        }



    .P15 {
        font-size: 10pt;
        font-family: Times New Roman;
        writing-mode: page;
        text-align: center ! important;
        font-style: normal;
        font-weight: bold;
    }

    .P16 {
        font-size: 8pt;
        font-family: Times New Roman;
        writing-mode: page;
        text-align: center ! important;
        font-weight: bold;
    }

    .P17 {
        font-size: 8pt;
        font-family: Times New Roman;
        writing-mode: page;
        text-align: center ! important;
        font-style: italic;
        font-weight: bold;
    }

    .P177 {
        color: white;
        font-size: 8pt;
        font-family: Times New Roman;
        writing-mode: page;
        text-align: center ! important;
        font-style: italic;
        font-weight: bold;
    }

    .P18 {
        color: white;
        font-size: 12pt;
        font-family: Times New Roman;
        writing-mode: page;
        text-align: center ! important;
        font-weight: bold;
    }

    .P19 {
        font-size: 8pt;
        font-family: Times New Roman;
        writing-mode: page;
        text-align: center ! important;
        font-style: italic;
        font-weight: bold;
    }

    .P2 {
        font-size: 7pt;
        font-family: Times New Roman;
        writing-mode: page;
    }

    .P20 {
        color: white;
        font-size: 9pt;
        font-family: Times New Roman;
        writing-mode: page;
        text-align: center ! important;
        font-weight: bold;
    }

    .P21 {
        color: white;
        font-size: 12pt;
        font-family: Times New Roman;
        writing-mode: page;
        text-align: center ! important;
        font-weight: bold;
    }

    .P22 {
        color: white;
        font-size: 8pt;
        font-family: Times New Roman;
        writing-mode: page;
        text-align: center ! important;
        background-color: #000000;
        font-weight: bold;
    }

    .P3 {
        font-size: 8pt;
        font-family: Times New Roman;
        writing-mode: page;
        text-align: center ! important;
        font-weight: bold;
    }

    .P4 {
        color: white;
        font-size: 9pt;
        font-family: Times New Roman;
        writing-mode: page;
        text-align: center ! important;
        font-weight: bold;
    }

    .P5 {
        font-size: 8pt;
        font-family: Times New Roman;
        writing-mode: page;
        text-align: center ! important;
        font-weight: bold;
    }

    .P6 {
        font-size: 8pt;
        font-family: Times New Roman;
        writing-mode: page;
    }

    .P7 {
        font-size: 8pt;
        font-family: Times New Roman;
        writing-mode: page;
        text-align: center ! important;
        font-style: italic;
        font-weight: bold;
    }

    .P8 {
        color: white;
        font-size: 10.5pt;
        font-family: Times New Roman;
        writing-mode: page;
        text-align: center ! important;
        font-weight: bold;
    }

    .P9 {
        font-size: 5pt;
        font-family: Times New Roman;
        writing-mode: page;
    }

    .Standard {
        font-size: 12pt;
        font-family: Times New Roman;
        writing-mode: page;
    }

    .Tabela1 {
        width: 7.8625in;
        margin-left: 0.0139in;
        margin-right: -0.0014in;
        float: none;
    }

    .Tabela2 {
        width: 7.875in;
        float: none;
    }

    .Tabela3 {
        width: 7.875in;
        float: none;
    }

    .Tabela4 {
        width: 7.875in;
        float: none;
    }

    .Tabela5 {
        width: 7.8424in;
        margin-left: 0.0139in;
        margin-right: 0.0188in;
        float: none;
    }

    .Tabela6 {
        width: 7.8424in;
        margin-left: 0.0139in;
        margin-right: 0.0188in;
        float: none;
    }

    .Tabela7 {
        width: 7.875in;
        float: none;
    }

    .Tabela1_A1 {
        background-color: #000000;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela1_A3 {
        background-color: #e6e6e6;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela1_A5 {
        background-color: #000000;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela1_A6 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela1_B4 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela1_B6 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela1_D6 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela1_F6 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela1_G6 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela1_H6 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela1_I6 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela1_J1 {
        background-color: #000000;
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela1_J3 {
        background-color: #e6e6e6;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela1_J5 {
        background-color: #000000;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela1_J6 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela2_A1 {
        background-color: #000000;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela2_A2 {
        background-color: #b3b3b3;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela2_A3 {
        background-color: #b3b3b3;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela2_B10 {
        background-color: #e6e6e6;
        padding: 0.0382in;
        border-left-style: none;
        border-right-style: none;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela2_B9 {
        background-color: #c0c0c0;
        padding: 0.0382in;
        border-left-style: none;
        border-right-style: none;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela2_C2 {
        background-color: transparent;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela2_C3 {
        background-color: transparent;
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela2_C7 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela2_D9 {
        background-color: #c0c0c0;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-style: none;
    }

    .Tabela2_E9 {
        background-color: #c0c0c0;
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela2_F1 {
        background-color: #000000;
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela2_F2 {
        background-color: transparent;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela2_F4 {
        background-color: transparent;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-style: none;
    }

    .Tabela2_F7 {
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela2_G10 {
        background-color: transparent;
        padding: 0.0382in;
        border-left-style: none;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela2_G9 {
        background-color: #c0c0c0;
        padding: 0.0382in;
        border-left-style: none;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela2_H10 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-style: none;
    }

    .Tabela2_H4 {
        background-color: transparent;
        padding: 0.0382in;
        border-style: none;
    }

    .Tabela2_H9 {
        padding: 0.0382in;
        border-style: none;
    }

    .Tabela2_I3 {
        background-color: #b3b3b3;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-width: 0.0133cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0133cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela2_J10 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela2_J4 {
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela2_J9 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela2_K10 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela3_A1 {
        background-color: #000000;
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela3_A2 {
        background-color: #c0c0c0;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela3_A3 {
        background-color: transparent;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela3_A4 {
        background-color: #e6e6e6;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela3_H2 {
        background-color: #000000;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela3_H3 {
        background-color: transparent;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela3_H4 {
        background-color: #e6e6e6;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_A1 {
        background-color: #000000;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_A10 {
        background-color: #000000;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_A14 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_A17 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_A18 {
        padding: 0.0382in;
        border-style: none;
    }

    .Tabela4_A36 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_B14 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_C1 {
        background-color: #c0c0c0;
        padding: 0.0382in;
        border-left-style: none;
        border-right-style: none;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-style: none;
    }

    .Tabela4_C11 {
        background-color: #e6e6e6;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_C18 {
        padding: 0.0382in;
        border-style: none;
    }

    .Tabela4_C2 {
        background-color: #e6e6e6;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_C5 {
        background-color: #e6e6e6;
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela4_C7 {
        background-color: #c0c0c0;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0133cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_D36 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_E1 {
        background-color: #c0c0c0;
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela4_E13 {
        background-color: #c0c0c0;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_E18 {
        padding: 0.0382in;
        border-style: none;
    }

    .Tabela4_E2 {
        background-color: transparent;
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela4_E8 {
        background-color: transparent;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_F35 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_G18 {
        padding: 0.0382in;
        border-style: none;
    }

    .Tabela4_G2 {
        background-color: transparent;
        padding: 0.0382in;
        border-left-style: none;
        border-right-style: none;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_H1 {
        background-color: #c0c0c0;
        padding: 0.0382in;
        border-left-width: 0.0133cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0133cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_H11 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_H15 {
        padding: 0.0382in;
        border-style: none;
    }

    .Tabela4_H17 {
        background-color: transparent;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_H18 {
        padding: 0.0382in;
        border-left-style: none;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_H8 {
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela4_I30 {
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela4_I35 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_J29 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-style: none;
    }

    .Tabela4_J30 {
        padding: 0.0382in;
        border-style: none;
    }

    .Tabela4_J35 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-style: none;
    }

    .Tabela4_J36 {
        background-color: transparent;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-style: none;
    }

    .Tabela4_K1 {
        background-color: #000000;
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela4_K18 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-style: none;
    }

    .Tabela4_K19 {
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela4_K2 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-style: none;
    }

    .Tabela4_K26 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_K27 {
        background-color: transparent;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_K29 {
        background-color: transparent;
        padding: 0.0382in;
        border-left-width: 0.0494cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-width: 0.0494cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0494cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_K3 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_K30 {
        background-color: transparent;
        padding: 0.0382in;
        border-style: none;
    }

    .Tabela4_K31 {
        background-color: #000000;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_K34 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_L19 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-style: none;
    }

    .Tabela4_L2 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-style: none;
    }

    .Tabela4_L21 {
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela4_L26 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_L29 {
        background-color: transparent;
        padding: 0.0382in;
        border-width: 0.0494cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela4_L3 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_M10 {
        padding: 0.0382in;
        border-left-width: 0.0133cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-style: none;
    }

    .Tabela4_M18 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-style: none;
    }

    .Tabela4_M20 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_M21 {
        padding: 0.0382in;
        border-left-style: none;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_M26 {
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela4_M27 {
        background-color: transparent;
        padding: 0.0382in;
        border-left-style: none;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_M33 {
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela4_N11 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-style: none;
    }

    .Tabela4_N13 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_N18 {
        padding: 0.0382in;
        border-left-style: none;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-style: none;
    }

    .Tabela4_N2 {
        padding: 0.0382in;
        border-left-style: none;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-style: none;
    }

    .Tabela4_N21 {
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela4_N26 {
        padding: 0.0382in;
        border-left-style: none;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_N29 {
        background-color: transparent;
        padding: 0.0382in;
        border-left-style: none;
        border-right-width: 0.0494cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-width: 0.0494cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0494cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela4_N3 {
        padding: 0.0382in;
        border-left-style: none;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela5_A1 {
        background-color: #000000;
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela5_A2 {
        background-color: #c0c0c0;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela5_A3 {
        background-color: transparent;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela5_A4 {
        background-color: #e6e6e6;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela5_E5 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela5_F2 {
        background-color: #000000;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela5_F3 {
        background-color: transparent;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela5_F4 {
        background-color: #e6e6e6;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela5_F5 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela6_A1 {
        background-color: #000000;
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela6_A2 {
        background-color: #c0c0c0;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela6_A4 {
        background-color: #e6e6e6;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela6_A5 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela6_D5 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .red {
        background-color: #FF0000;
    }

    .Tabela6_E5 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela6_F2 {
        background-color: #c0c0c0;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela6_F4 {
        background-color: #e6e6e6;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela6_F5 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela7_A1 {
        background-color: #000000;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela7_A12 {
        background-color: #000000;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-style: none;
    }

    .Tabela7_A2 {
        background-color: #c0c0c0;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela7_A20 {
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela7_A22 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-style: none;
    }

    .Tabela7_A4 {
        background-color: #e6e6e6;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela7_A5 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela7_A6 {
        background-color: transparent;
        padding: 0.0382in;
        border-left-style: none;
        border-right-style: none;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela7_A7 {
        background-color: transparent;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela7_A8 {
        background-color: #cccccc;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela7_B23 {
        background-color: #b3b3b3;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela7_B24 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela7_B5 {
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela7_B7 {
        background-color: #cccccc;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela7_D5 {
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela7_F24 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela7_F25 {
        background-color: transparent;
        padding: 0.0382in;
        border-left-style: none;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela7_F5 {
        padding: 0.0382in;
        border-left-style: none;
        border-right-style: none;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela7_H23 {
        background-color: #b3b3b3;
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela7_H24 {
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela7_I7 {
        background-color: #cccccc;
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela7_I8 {
        background-color: transparent;
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela7_J11 {
        background-color: transparent;
        padding: 0.0382in;
        border-style: none;
    }

    .Tabela7_J24 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-style: none;
    }

    .Tabela7_J25 {
        padding: 0.0382in;
        border-style: none;
    }

    .Tabela7_J4 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-style: none;
    }

    .Tabela7_J6 {
        padding: 0.0382in;
        border-left-style: none;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-style: none;
    }

    .Tabela7_J7 {
        background-color: transparent;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-style: none;
    }

    .Tabela7_K24 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela7_L21 {
        background-color: #c0c0c0;
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela7_L24 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela7_M18 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-style: none;
    }

    .Tabela7_M20 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-style: none;
    }

    .Tabela7_M25 {
        padding: 0.0382in;
        border-style: none;
    }

    .Tabela7_M7 {
        background-color: transparent;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-style: none;
    }

    .Tabela7_N18 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela7_N19 {
        padding: 0.0382in;
        border-left-style: none;
        border-right-style: none;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-style: none;
    }

    .Tabela7_N2 {
        background-color: transparent;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-style: none;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela7_O1 {
        background-color: #000000;
        padding: 0.0382in;
        border-width: 0.0353cm;
        border-style: solid;
        border-color: #000000;
    }

    .Tabela7_O18 {
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela7_O19 {
        padding: 0.0382in;
        border-left-style: none;
        border-right-style: none;
        border-top-width: 0.0353cm;
        border-top-style: solid;
        border-top-color: #000000;
        border-bottom-style: none;
    }

    .Tabela7_O2 {
        background-color: transparent;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela7_O3 {
        background-color: #c0c0c0;
        padding: 0.0382in;
        border-left-width: 0.0353cm;
        border-left-style: solid;
        border-left-color: #000000;
        border-right-width: 0.0353cm;
        border-right-style: solid;
        border-right-color: #000000;
        border-top-style: none;
        border-bottom-width: 0.0353cm;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .Tabela1_A {
        width: 1.1819in;
    }

    .Tabela1_B {
        width: 0.5681in;
    }

    .Tabela1_C {
        width: 0.5215in;
    }

    .Tabela1_E {
        width: 1.1125in;
    }

    .Tabela1_G {
        width: 0.6111in;
    }

    .Tabela1_H {
        width: 0.7708in;
    }

    .Tabela1_I {
        width: 0.6944in;
    }

    .Tabela1_J {
        width: 0.7688in;
    }

    .Tabela2_A {
        width: 1.1097in;
    }

    .Tabela2_B {
        width: 0.3083in;
    }

    .Tabela2_C {
        width: 0.3438in;
    }

    .Tabela2_D {
        width: 0.7604in;
    }

    .Tabela2_E {
        width: 0.4493in;
    }

    .Tabela2_F {
        width: 0.2521in;
    }

    .Tabela2_G {
        width: 0.6632in;
    }

    .Tabela2_H {
        width: 0.2132in;
    }

    .Tabela2_I {
        width: 1.4264in;
    }

    .Tabela2_J {
        width: 1.1625in;
    }

    .Tabela2_K {
        width: 1.1868in;
    }

    .Tabela3_A {
        width: 1.241in;
    }

    .Tabela3_B {
        width: 0.9347in;
    }

    .Tabela3_H {
        width: 1.0243in;
    }

    .Tabela4_A {
        width: 0.5569in;
    }

    .Tabela4_B {
        width: 0.5604in;
    }

    .Tabela4_C {
        width: 0.3958in;
    }

    .Tabela4_D {
        width: 0.2188in;
    }

    .Tabela4_E {
        width: 0.0576in;
    }

    .Tabela4_F {
        width: 0.7535in;
    }

    .Tabela4_G {
        width: 0.6778in;
    }

    .Tabela4_H {
        width: 0.4118in;
    }

    .Tabela4_I {
        width: 0.2563in;
    }

    .Tabela4_J {
        width: 0.2194in;
    }

    .Tabela4_K {
        width: 1.6382in;
    }

    .Tabela4_L {
        width: 0.2403in;
    }

    .Tabela4_M {
        width: 1.65in;
    }

    .Tabela4_N {
        width: 0.2389in;
    }

    .Tabela5_A {
        width: 1.3701in;
    }

    .Tabela5_F {
        width: 0.9924in;
    }

    .Tabela6_A {
        width: 1.3021in;
    }

    .Tabela6_B {
        width: 1.3118in;
    }

    .Tabela6_C {
        width: 1.3125in;
    }

    .Tabela6_F {
        width: 1.2924in;
    }

    .Tabela7_A {
        width: 0.8007in;
    }

    .Tabela7_B {
        width: 0.6417in;
    }

    .Tabela7_C {
        width: 0.1597in;
    }

    .Tabela7_D {
        width: 0.5014in;
    }

    .Tabela7_E {
        width: 0.3299in;
    }

    .Tabela7_F {
        width: 0.3708in;
    }

    .Tabela7_G {
        width: 0.4604in;
    }

    .Tabela7_H {
        width: 0.2417in;
    }

    .Tabela7_I {
        width: 0.6778in;
    }

    .Tabela7_J {
        width: 0.2104in;
    }

    .Tabela7_K {
        width: 0.8097in;
    }

    .Tabela7_M {
        width: 0.1889in;
    }

    .Tabela7_N {
        width: 0.8514in;
    }

    .Tabela7_O {
        width: 0.8215in;
    }

    .T1 {
        font-style: italic;
    }

    <!--
    ODF styles with no properties representable as CSS

    -->
    .Tabela4

    .30
    .Tabela4

    .36
    .Tabela7

    .9
    {
    }
</style>

</head>
<body dir="ltr" style="max-width:8.2681in;margin:0.1965in; margin-top:0.1965in; margin-bottom:0.1965in; margin-left:0.1965in; margin-right:0.1965in; writing-mode:lr-tb; ">

<%= yield %>

<p class="P1"> </p></body>
</html>