<!DOCTYPE html>
<html>
<head>
  <title>CharMaker</title>
  <%= stylesheet_link_tag "print", :media => 'all' %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class=templateholder>
  <%= yield %>
</div>
</body>
</html>



